
main {
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 30px 0;
    font-size: 20px;
    letter-spacing: 5px;
    color: #938981;
    font-weight: 600;
}

.item {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.itempic>img {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.itemtext {
    margin-top: 50px;
    width: 250px;
}

.itemtext>h4 {
    color: #ae7373;
}

.itemtext>p {
    font-size: 13px;
    color: #86ab9b;

}

.itemtext>span {
    color:#938981;
    font-size: 13px;
}

.itemtext>select {
    background-color: #faf2f2;
    border: 1px dashed #ccc;
    color:#938981;
    font-weight: 600;
}

.itemtext>input {
    background-color: #ae7373;
    border: 0;
    color:#f1f1f1;
    font-weight: 500;
}


.itembox {
    width: 200px;
    margin-bottom: 50px;
}

/* -------------------下方滑動軸CSS--------------- */



#itempic>a>img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

#itemtitle {
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 700;
    color: #ae7373;
}

#itemprice {
    text-align: center;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    color: #86ab9b;
}

.other_choice {
    display: flex;
    width: 1100px;
    margin:0 auto;
}

.recommendtext {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #938981;
}

.select {
    height: 280px;
    width: 1015px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;

}

.prev, .next {

    margin: auto auto;
}

.pic_group {
    position: absolute;
    left: 0px;
    /* 移動一個是250px */
    height: 100%;
    display: flex;
}

.itembox {
    margin: auto 25px;
}


@media (max-width:1024px) {
    
    .item {
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .other_choice {
        width: 860px;
    }
    
    .select {
        margin-right: 10px;
    }
}


@media (max-width:768px) {
    .item {
        width: 400px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .itempic>img {
        width: 400px;
    }

    .other_choice {
        width: 560px;
    }
    
}

@media(max-width: 414px) {
    .item {
        width: 340px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .itempic>img {
        width: 300px;
    }

    .other_choice {
        width: 300px;
    }

}

